.header {
  background: #829bb7;
  border-bottom: 4px solid #5f7d9e;

  &__wrapper {
    max-width: 960px;
    margin: 0 auto;
    height: inherit;
    font-size: 0;
  }

  &__menu-icon {
    position: absolute;
    cursor: pointer;
    padding: 8px;
    width: 42px;
    height: 42px;
    vertical-align: middle;
  }

  &__title-container {
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
  }

  &__short-title {
    font-size: 17pt;
  }

  &__logo-container {
    height: inherit;
    display: table-cell;
    width: 260px;
    vertical-align: middle;
    text-align: center;
  }

  &__logo {
    display: inline-block;
    width: 78px;
    height: 78px;
    background: url(/images/logo.png);
    background-size: 100%;
  }

  &__title {
    font-size: 16pt;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 14pt;
  }

  &__anchor {
    text-decoration: none;
    color: #ffffff;
  }
}

@media only screen and (min-width: 960px) {
  .header {
    height: 106px;

    &__title-container {
      width: 700px;
      display: table-cell;
    }

    &__short-title {
      display: none;
    }

    &__menu-icon {
      display: none;
    }
  }
}

@media only screen and (max-width: 959px) {
  .header {
    position: fixed;
    width: 100%;
    height: 46px;
    top: 0;

    &__title-container {
      width: 100%;
      display: inline-block;
      line-height: 42px;
    }
    
    &__logo-container {
      display: none;
    }

    &__title {
      display: none;
    }

    &__subtitle {
      display: none;
    }
  }  
}