.content {
  width: 700px;
  display: inline-block;
  min-height: 500px;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.header {
  height: 106px;

  &__title-container {
    width: 700px;
    display: table-cell;
  }

  &__short-title {
    display: none;
  }

  &__menu-icon {
    display: none;
  }
}

.menu {
  width: 260px;
  display: inline-block;
  height: inherit;
  vertical-align: top;
}

.people__info {
  margin-left: 120px;
}