.menu {
  
  &__container {
    list-style-type: none;  
    padding: 20px;
  }

  &__item {
    font-size: 11pt;
    padding: 5px 0;
  }

  &__anchor {
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: #757575;
  }

  &__anchor:hover, &__anchor_active {
    background: #f0efef;
    color: #4a4a4a;
  }
}

@media only screen and (min-width: 960px) {
  .menu {
    width: 260px;
    display: inline-block;
    height: inherit;
    vertical-align: top;
  }
}

@media only screen and (max-width: 959px) {
  .menu {
    position: fixed;
    background: #fff;
    width: 100%;
    height: calc(100% - 46px);
    overflow-y: scroll;
    margin-left: 0;
    transition: margin-left .3s ease-out;
    z-index: 1;

    &_hidden {
      margin-left: -100%;
    }
  }
}